body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
    background: url('../img/background.jpg') no-repeat;
    background-size: 155px;
    background-position: 4px 52px;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

.ola-btn {
    padding: 5px 25px;
    background: #CCE310;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    right: 15px;
    bottom: 2px;
}

.ola-btn:active {
    background: #A6B720;
}

#bookedDetailsTable {
    margin-top: 40px;
}

#bookedDetailsTable td {
    padding: 3px;
}

#tab-sedan,
#tab-mini {
    background-repeat: no-repeat;
    background-position: left;
    width: 105px;
    height: 42px;
    background-size: 100px 57px;
}

#tab-sedan {
    background-image: url('../img/sedan.png');
}

#tab-mini {
    background-image: url('../img/mini.png');
}

li.active {
    color: #CCE310;
}

.container {
    width: 244px;
}

div[class$='Label'] {
    font-weight: 700;
}

.dist,
#bookingDetailsTable {
    margin-top: 10px;
}

.alert {
    bottom: 0px;
    position: absolute;
    font-size: 9px;
    margin-bottom: 0!important;
    padding: 11px!important;
}

.alert-success {
    right: 13%;
    bottom: initial;
    top: 0;
    padding: 6px!important;
    font-size: 16px;
}


/** spinkit */


.spinner {
    margin: 80px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.button-spinner {
    position: absolute;
    bottom: 6px;
    right: 45px;
    margin-bottom: 0;
}
